site_name: ROSflight
site_description: 'A lean, open-source autopilot system built by researchers, for researchers'
site_url: http://rosflight.org
site_author: 'James Jackson, Daniel Koch, Ian Reid, Brandon Sutherland, Jacob Moore'
copyright: 'Copyright &copy; 2019-2025, BYU MAGICC Lab'

edit_uri: 'https://github.com/rosflight/rosflight_docs/edit/main/docs/'

theme:
  name: material
  custom_dir: overrides
  language: en
  features:
    - content.action.edit
    - navigation.tabs
  palette:
    primary: blue grey
    accent: red
  favicon: assets/favicon.ico
  logo: assets/logo.png
  analytics:
    gtag: UA-96018590-2

extra:
  version:
    provider: mike

extra_javascript:
    - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML

markdown_extensions:
  - admonition
  - codehilite:
      linenums: false
      guess_lang: false
  - footnotes
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist
  - toc:
      permalink: true

plugins:
  - glightbox
  - search
  - mkdocs-video

nav:
  - Home: index.md
  - User Guide:
    - Overview: user-guide/overview.md
    - Installation:
      - Installation for Sim: user-guide/installation/installation-sim.md
      - Installation on Hardware: user-guide/installation/installation-hardware.md
      - Using Docker with ROSflight: user-guide/installation/using-docker-with-rosflight.md
    - Tutorials: 
      - Tutorial overview: user-guide/tutorials/tutorial-overview.md
      - Setting up ROSflight Sim: user-guide/tutorials/setting-up-rosflight-sim.md
      - Manually flying ROSflight Sim: user-guide/tutorials/manually-flying-rosflight-sim.md
      - Running ROScopter in Sim: user-guide/tutorials/setting-up-roscopter-in-sim.md
      - Running ROSplane in Sim: user-guide/tutorials/setting-up-rosplane-in-sim.md
      - Tuning performance: user-guide/tutorials/tuning-performance-in-sim.md
      - Transitioning from Sim to Hardware: 
        - Overview: user-guide/tutorials/transitioning-from-sim-to-hardware.md
        - Xflr5: user-guide/tutorials/user-manual-xflr5.md
        - OpenVSP: user-guide/tutorials/user-manual-openvsp.md
        - ROSflight Integration: user-guide/tutorials/user-manual-ROSflight-integration.md
        - Appendix: user-guide/tutorials/user-manual-appendix.md
    - ROSflightIO: user-guide/rosflight-io.md
    - ROSflight Firmware:
      - Code Architecture: user-guide/rosflight-firmware/code-architecture.md
      - Building and Flashing: user-guide/rosflight-firmware/building-and-flashing.md
    - ROSflight Sim:
      - ROSflight Sim Overview: user-guide/rosflight-sim/running-simulations-with-rosflight.md
      - Detailed Launching Guide: user-guide/rosflight-sim/detailed-launching-guide.md
      - Simulator Architecture: user-guide/rosflight-sim/simulator-architecture.md
    - ROSplane:
      - ROSplane Overview: user-guide/rosplane/rosplane-overview.md
      - ROSplane Setup: user-guide/rosplane/rosplane-setup.md
    - ROScopter:
      - ROScopter Overview: user-guide/roscopter/roscopter-overview.md
      - ROScopter Path Planner: user-guide/roscopter/roscopter-path-planner.md
      - ROScopter Path Manager: user-guide/roscopter/roscopter-path-manager.md
      - ROScopter Trajectory Follower: user-guide/roscopter/roscopter-trajectory-follower.md
      - ROScopter Controller: user-guide/roscopter/roscopter-controller.md
      - ROScopter Estimator: user-guide/roscopter/roscopter-estimator.md
    - Hardware and ROSflight:
      - Getting Started: user-guide/hardware-and-rosflight/getting-started.md
      - Hardware Setup: user-guide/hardware-and-rosflight/hardware-setup.md
      - Flight Controller Setup: user-guide/hardware-and-rosflight/flight-controller-setup.md
      - RC Configuration: user-guide/hardware-and-rosflight/rc-configuration.md
      - Parameter Configuration: user-guide/hardware-and-rosflight/parameter-configuration.md
      - Pre-Flight Checks: user-guide/hardware-and-rosflight/preflight-checks.md
      - Improving Firmware Performance: user-guide/hardware-and-rosflight/improving-firmware-performance.md
      - Autonomous Flight: user-guide/hardware-and-rosflight/autonomous-flight.md
    - Customizing ROSflight: user-guide/customizing-rosflight.md
  - Developer Guide:
    - Contribution Guidelines: developer-guide/contribution-guidelines.md
    - Style Guide: developer-guide/style-guide.md
    - Firmware:
      - Unit Tests: developer-guide/firmware/unit-tests.md
      - Debugging: developer-guide/firmware/debugging.md
    - ROSplane:
      - Developer Guide Overview: developer-guide/rosplane/rosplane-dev-overview.md
      - Controller:
        - General Controller Overview: developer-guide/rosplane/controller/controller-general-overview.md
        - Controller Software Architecture: developer-guide/rosplane/controller/controller-software-architecture.md
        - Controller Base: developer-guide/rosplane/controller/controller-base.md
        - Controller State Machine: developer-guide/rosplane/controller/controller-state-machine.md
        - Successive Loop Closure Controller Outline: developer-guide/rosplane/controller/controller-outline.md
        - Total Energy Controller: developer-guide/rosplane/controller/controller-total-energy.md
      - Estimator:
        - Estimator Overview: developer-guide/rosplane/estimator/estimator-overview.md
        - Estimator Base: developer-guide/rosplane/estimator/estimator-base.md
        - Estimator Example: developer-guide/rosplane/estimator/estimator-example.md
      - Parameter Management: developer-guide/rosplane/parameter-management.md
      - Navigation: 
        - Navigation Overview: developer-guide/rosplane/navigation/navigation-overview.md
        - Path Planner: developer-guide/rosplane/navigation/path-planner.md
        - Path Manager: developer-guide/rosplane/navigation/path-manager.md
        - Path Follower: developer-guide/rosplane/navigation/path-follower.md
  - Publications:
    - ROSplane: publications/rosplane.md
    - ROSflight: publications/rosflight.md
